numpy==1.24.0
opencv-python-headless==4.4.0.46
PyQt5==5.15.2
QtPy
pydicom
python-gdcm
# pyinstaller==5.13.2
pyinstaller-versionfile
PyYAML
# for AI utils
matplotlib
scikit-learn
openpyxl
tensorflow==2.10.1
onnxruntime==1.14.1
onnx==1.12.0
tf2onnx==1.14.0
imgaug==0.3.0