numpy==1.24.0
opencv-python-headless==4.4.0.46
PySide2==5.15.2
PyQt5==5.15.2
QtPy
pydicom
python-gdcm
# pyinstaller==5.13.2
pyinstaller-versionfile
PyYAML
# for AI utils
matplotlib
openpyxl
tensorflow==2.10.1
onnxruntime
tf2onnx
imgaug==0.3.0